# Python Einführung

Hier wollen *wir* **Python** ***kennen lernen***

In [2]:
print("Hello world!")

Hello world!

In [3]:
# einen Kommentar einfügen
print("etwas")

etwas

In [10]:
print("etwas")
print("etwas anderes")

etwas
etwas anderes

In [15]:
name = "Lovelace"

In [16]:
print(name)

Lovelace

In [19]:
x = 2

In [18]:
print(x)

2

In [21]:
name_2 = "Ada"

In [22]:
print(name_2)

Ada

In [23]:
knows_math = True

In [24]:
print(knows_math)

True

In [25]:
likes_gardening = False

In [26]:
likes_gardening

False

In [27]:
type(name)

str

In [28]:
type(x)

int

In [29]:
type(size)

NameError: name 'size' is not defined

In [30]:
size = 1.7123

In [31]:
type(size)

float

In [32]:
type(knows_math)

bool

In [33]:
size
name
x

2

In [34]:
print(size)

1.7123

In [35]:
print(size), print(name), print(x)

1.7123
Lovelace
2

(None, None, None)

In [36]:
5 + 5

10

In [37]:
100 * size

171.23

In [38]:
age = 73

In [39]:
100 * age

7300

In [40]:
name

'Lovelace'

In [41]:
name + name

'LovelaceLovelace'

In [42]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [43]:
name + 10

TypeError: must be str, not int

In [44]:
name + "10"

'Lovelace10'

In [45]:
age

73

In [46]:
str(age)

'73'

In [47]:
name + str(age)

'Lovelace73'

In [48]:
age = str(age)

In [49]:
name + age

'Lovelace73'

In [50]:
type(age)

str

In [51]:
name

'Lovelace'

In [52]:
len(name)

8

In [53]:
name.upper()

'LOVELACE'

In [54]:
print(name)

Lovelace

In [55]:
name_up = name.upper()

In [56]:
print(name)

Lovelace

In [57]:
print(name_up)

LOVELACE

In [58]:
name.count

In [59]:
name.count("e")

2

In [62]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [63]:
name.count?

In [64]:
name.count

In [65]:
!who

Der Befehl "who" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

In [66]:
?who

In [67]:
%who

age	 knows_math	 likes_gardening	 name	 name2	 name_2	 name_up	 size	 x

In [68]:
!ls

Der Befehl "ls" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

In [69]:
print(age)

73

## Listen und Dictionaries

In [70]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [71]:
names[1]

'Darwin'

In [72]:
names[0]

'Lovelace'

In [73]:
names[3]

'Hawking'

In [74]:
names[-1]

'Hawking'

In [75]:
len(names)

4

In [76]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [77]:
names[0:2]

['Lovelace', 'Darwin']

In [78]:
names[2:]

['Curie', 'Hawking']

In [79]:
names_2 = [[1, 2, 3], "Darwin", 3, "Hawking"]

In [80]:
names_2[0]

[1, 2, 3]

In [81]:
type(names_2[0])

list

In [82]:
names_2[0]

[1, 2, 3]

In [83]:
names_2[0][1]

2

In [84]:
first_and_last = [names[0], names[-1]]

In [85]:
first_and_last

['Lovelace', 'Hawking']

In [87]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noether": 1882,
                          "Hawking": 1942}

In [88]:
authors_and_birth_years["Darwin"]

1809

In [89]:
authors_and_birth_years.key()

AttributeError: 'dict' object has no attribute 'key'

In [90]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

In [91]:
authors_and_birth_years.values()

dict_values([1882, 1809, 1882, 1942])

In [92]:
for PERSON in names:
    print(person + " did awesome stuff.")

NameError: name 'person' is not defined

In [93]:
for PERSON in names:
    print(PERSON + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

In [94]:
for PERSON in names:
    print(PERSON + " did awesome stuff.")
    print("------------------------------")

Lovelace did awesome stuff.
------------------------------
Darwin did awesome stuff.
------------------------------
Curie did awesome stuff.
------------------------------
Hawking did awesome stuff.
------------------------------

In [95]:
for PERSON in names:
    print(PERSON + " did awesome stuff.")
print("------------------------------")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.
------------------------------

## Bedingte Anweisungen (Conditionals)

In [99]:
temp = 20
if temp > 15: 
    print("It's warm")

It's warm

In [100]:
20 > 15

True

In [101]:
if True:
    print("It's warm")

It's warm

In [103]:
if False:
    print("It's warm")

In [105]:
10 > 15

False

In [106]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [107]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp >=15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [108]:
temp = 30
if temp >= 25:
    print("It's hot")
elif temp >=15:
    print("It's warm")
else:
    print("It's cold")

It's hot

In [109]:
temp = 30
if temp >= 25:
    print("It's hot", "blablabla")
elif temp >=15:
    print("It's warm")
else:
    print("It's cold")

It's hot blablabla